# Azure AD Credentials
AZURE_AD_CLIENT_ID=11b55-14715ac
AZURE_AD_CLIENT_SECRET=SECRET
AZURE_AD_TENANT_ID=4d45-2d-497983ecd39fb
AZURE_AD_RESOURCE=https://test.sandbox.operations.eu.dynamics.com

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=interbus_365

# API Configuration
API_BASE_URL=test.sandbox.operations.eu.dynamics.com


